<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.njk" %}
  {% if site.env %}
    <!-- Capture the CSS content as a Nunjucks variable -->
    {% set css %}{% include "styles.min.css" %}{% endset %}
    <style>
      {{css | safe}}
    </style>
  {% else %}
    <link rel="stylesheet" href="/static/build/styles.min.css">
  {% endif %}

  <!-- Try and serve Google Fonts in the most efficent way possible -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" as="style"
        onload="this.onload=null;this.rel='stylesheet'"/>
  <noscript>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet"
          type="text/css"/>
  </noscript>
</head>
<body>
<div id="container" class="grid h-full w-full">
  {% include "navbar.njk" %}
  <div id="content" class="grid py-4 lg:p-5 sm:p-1 w-full h-full">
    {{ content | safe }}
  </div>
</div>

{% if scripts %}
  {% for script in scripts %}
    <script src="/js/{{ script }}" defer></script>
  {% endfor %}
{% endif %}
</body>
</html>
