@import './utils/_tailwind.css';
@import './utils/_accessibility.css';
@import './astrophotography.css';

a {
	@apply underline;
}

body {
	@apply bg-primary font-stack
}

.nav-link {
	@apply flex items-center justify-center border-l-1 border-accent hover:text-accent transition-colors text-base font-medium;
}

.nav-link-end {
	@apply flex items-center justify-center border-x-1 border-accent hover:text-accent transition-colors text-base font-medium;
}


